/*
|--------------------------------------------------------------------------
| App SCSS
|--------------------------------------------------------------------------
|
| This file contains all the main scss styles 
| useful for this webpage.
|
*/

// * ------------------------------------------------------------- GENERAL IMPORTS
@use "partials/variables.scss" as *;
@use "partials/header.scss" as *;
@use "partials/footer.scss" as *;

// * ------------------------------------------------------------- TAG STYLES

body {
    min-width: 1450px;
}

// * ------------------------------------------------------------- CLASSES STYLES

.my_container {
    padding: 1.2rem 12rem;
}

// * ------------------------------------------------------------- SPECIFIC STYLES

// ? MAIN
main {
    .my_background {
        background-image: url("../assets/images/jumbotron.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
    }
}
